{% extends 'baseadmin.html.twig' %}

{% block body %}

    <div id="header" class="jumbotron text-center">
        <h1>{{ categorie.catLibAdmin }}</h1>
        <a class="btn btn-success btn-lg" href="{{ path('categorie_index') }}">
            <i class="glyphicon glyphicon-chevron-left"></i><i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
    </div>

    {{ form_start(edit_form) }}

    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-8">
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-right lib_champs">Libellé administration</p>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {{ form_widget(edit_form.catLibAdmin, { 'attr': {'class': 'form-control Libelle', 'placeholder': 'Libellé unique adminstration' }}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-right lib_champs">Niveau (1/2/3)</p>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {{ form_widget(edit_form.catNiv, { 'attr': {'class': 'form-control Niveau', 'placeholder': 'Niveau' }}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-right lib_champs">A vendre (oui/non)</p>
                    </div>
                    <div class="col-md-9">
                        {{ form_widget(edit_form.catAvendre) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-right lib_champs">Affichage prix (oui/non)</p>
                    </div>
                    <div class="col-md-9">
                        {{ form_widget(edit_form.catAffPrix) }}
                    </div>
                </div>
{#
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-right lib_champs">Affichage si plus de stock (oui/non)</p>
                    </div>
                    <div class="col-md-9">
                        {{ form_widget(edit_form.catAffNostock) }}
                    </div>
                </div>
#}
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-right lib_champs">Affichage 'Vendu' (oui/non)</p>
                    </div>
                    <div class="col-md-9">
                        {{ form_widget(edit_form.catAffVendu) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-right lib_champs">Taux de TVA associé</p>
                    </div>
                    <div class="col-md-9">
                        {{ form_widget(edit_form.catIdtva) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-right lib_champs">Photo illustration</p>
                    </div>
                    <div class="col-md-9">
                        {{ form_widget(edit_form.catPhoto) }}
                    </div>
                </div>


                <input class="btn btn-success" type="submit" value="Enregistrer" />

                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>

    {#{{ form_start(edit_form) }}#}
        {#{{ form_widget(edit_form) }}#}
        {#<input type="submit" value="Edit" />#}
    {#{{ form_end(edit_form) }}#}

{#
    <ul>
        <li>
            <a href="{{ path('categorie_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
#}
{% endblock %}
