{% extends 'baseadmin.html.twig' %}

{% block body %}
    <div id="header" class="jumbotron text-center">
        <h1>Paremètres généraux</h1>
        <a class="btn btn-success btn-lg" href="{{ path('ecommerce_admin') }}">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la page d'accueil
        </a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-8">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>Niveau catégorie</th>
                            <td>{{ param.prmNbnivcat }}</td>
                        </tr>
                        <tr>
                            <th>Code devise utilisé</th>
                            <td>{{ param.prmDevise }}</td>
                        </tr>
                        <tr>
                            <th>Activer la TVA unique</th>
                            <td>{% if param.prmTvaUnique %}Oui{% else %}Non{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Activer la newsletter</th>
                            <td>{% if param.prmNewsletter %}Oui{% else %}Non{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Activer la facture généré</th>
                            <td>{% if param.prmFactGen %}Oui{% else %}Non{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Activer l'envoi de facture</th>
                            <td>{% if param.prmFactEnv %}Oui{% else %}Non{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Activer l'upload de facture</th>
                            <td>{% if param.prmFactUpload %}Oui{% else %}Non{% endif %}</td>
                        </tr>
                        <tr>
                            <th>TVA unique utilisé</th>
                            <td>{{ param.prmIdtva }}</td>
                        </tr>
                    </tbody>
                </table>
                <a class="btn btn-success" href="{{ path('param_edit', { 'id': param.id }) }}">
                    <i class="glyphicon glyphicon-edit"></i>Modifier</a>
            </div>
        </div>
    </div>
{#
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ param.id }}</td>
            </tr>
            <tr>
                <th>Prmnbnivcat</th>
                <td>{{ param.prmNbnivcat }}</td>
            </tr>
            <tr>
                <th>Prmdevise</th>
                <td>{{ param.prmDevise }}</td>
            </tr>
            <tr>
                <th>Prmtvaunique</th>
                <td>{% if param.prmTvaUnique %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Prmnewsletter</th>
                <td>{% if param.prmNewsletter %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Prmfactgen</th>
                <td>{% if param.prmFactGen %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Prmfactenv</th>
                <td>{% if param.prmFactEnv %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Prmfactupload</th>
                <td>{% if param.prmFactUpload %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('param_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('param_edit', { 'id': param.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>#}
{% endblock %}
