{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bague list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prixttc</th>
                <th>Metaux</th>
                <th>Sexe</th>
                <th>Garantie</th>
                <th>Largeur</th>
                <th>Photo</th>
                <th>Reference</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bague in bagues %}
            <tr>
                <td><a href="{{ path('bague_show', { 'id': bague.id }) }}">{{ bague.id }}</a></td>
                <td>{{ bague.nom }}</td>
                <td>{{ bague.prixttc }}</td>
                <td>{{ bague.metaux }}</td>
                <td>{% if bague.sexe %}{{ bague.sexe|join(', ') }}{% endif %}</td>
                <td>{% if bague.garantie %}{{ bague.garantie|join(', ') }}{% endif %}</td>
                <td>{{ bague.largeur }}</td>
                <td><img class="bague_img" src="{{ asset('/uploads/img/bague/') }}{{ bague.photo }}" ></td>
                <td>{{ bague.reference }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bague_show', { 'id': bague.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bague_edit', { 'id': bague.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bague_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
