{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bague</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bague.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ bague.nom }}</td>
            </tr>
            <tr>
                <th>Prixttc</th>
                <td>{{ bague.prixttc }}</td>
            </tr>
            <tr>
                <th>Metaux</th>
                <td>{{ bague.metaux }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{% if bague.sexe %}{{ bague.sexe|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Garantie</th>
                <td>{% if bague.garantie %}{{ bague.garantie|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Largeur</th>
                <td>{{ bague.largeur }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ bague.photo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bague_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bague_edit', { 'id': bague.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
