{% extends 'baseadmin.html.twig' %}

{% block body %}

    <div id="header" class="jumbotron text-center">
        <h1>{{ newsletter.nwlLib }}</h1>
        <a class="btn btn-success btn-lg" href="{{ path('newsletter_index') }}">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-8">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>Libellé</th>
                            <td>{{ newsletter.nwlLib }}</td>
                        </tr>
                        <tr>
                            <th>Code langue</th>
                            <td>{{ newsletter.nwlLocale }}</td>
                        </tr>
                        <tr>
                            <th>Objet mail</th>
                            <td>{{ newsletter.nwlMailObjet }}</td>
                        </tr>
                        <tr>
                            <th>Texte du mail</th>
                            <td>{{ newsletter.nwlMailTexte }}</td>
                        </tr>
                        <tr>
                            <th>Date envoi prévue</th>
                            <td>{% if newsletter.nwlDatePrev %}{{ newsletter.nwlDatePrev|date('d-m-Y') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Newsletter envoyée (O/N)</th>
                            <td>{% if newsletter.nwlEnvoyee %}Oui{% else %}Non{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Envoyée le</th>
                            <td>{% if newsletter.nwlEnvDate %}{{ newsletter.nwlEnvDate|date('d-m-Y H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Destinataires</th>
                            <td>{{ newsletter.nwlMailDests }}</td>
                        </tr>
                        <tr>
                            <th>Pièce jointe (pdf)</th>
                            <td>
                                <a href="{{ path('download_nwl', { 'id': downloadfile }) }}">
                                    <img class="center-block img-responsive icode_pdf_show" src="{{ asset('uploads/param/') }}{{ iconePDF }}">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a class="btn btn-success" href="{{ path('newsletter_edit', { 'id': newsletter.id }) }}">
                    <i class="glyphicon glyphicon-edit"></i>Modifier</a>
            </div>
        </div>
    </div>

{% endblock %}
