{% extends 'baseadmin.html.twig' %}

{% block body %}
    <div id="header" class="jumbotron text-center">
        <h1>{{ produit.pdtNom }}</h1>
        <a class="btn btn-success btn-lg" href="{{ path('produit_index') }}">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-8">
                <table class="table table-hover">
                    <tbody>
                        {#<tr>#}
                            {#<th>Id</th>#}
                            {#<td>{{ produit.id }}</td>#}
                        {#</tr>#}
                        <tr>
                            <th>Référence du produit</th>
                            <td>{{ produit.pdtRef }}</td>
                        </tr>
                        <tr>
                            <th>Nom</th>
                            <td>{{ produit.pdtNom }}</td>
                        </tr>
                        <tr>
                            <th>Actif/inactif</th>
                            <td>{% if produit.pdtEtat %}Actif{% else %}Inactif{% endif %}</td>
                        </tr>
                        <tr>
                            <th>A vendre</th>
                            <td>{% if produit.pdtAvendre %}Oui{% else %}Non{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Prix unitaire HT</th>
                            <td>{{ produit.pdtPrixUnitHt }}</td>
                        </tr>
                        <tr>
                            <th>Prix unitaire TTC</th>
                            <td>{{ produit.pdtPrixUnitTtc }}</td>
                        </tr>
                        <tr>
                            <th>Afficher le prix</th>
                            <td>{% if produit.pdtAffPrix %}Yes{% else %}Non{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Promotion en pourcentage</th>
                            <td>{% if produit.pdtPromoPct == null %}Non renseigné{% else %}{{ produit.pdtPromoPct }} %{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Photo du produit</th>
                            <td>{{ produit.pdtPhoto }}</td>
                        </tr>
                        <tr>
                            <th>Poids du produit</th>
                            <td>{% if produit.pdtPoids == null %}Non renseigné{% else %}{{ produit.pdtPoids }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Dimension du produit</th>
                            <td>{% if produit.pdtDim == null %}Non renseigné{% else %}{{ produit.pdtDim }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Poids de l'emballage</th>
                            <td>{% if produit.pdtEmbPoids == null %}Non renseigné{% else %}{{ produit.pdtEmbPoids }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Dimension de l'emballage</th>
                            <td>{% if produit.pdtEmbDim == null %}Non renseigné{% else %}{{ produit.pdtEmbDim }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Photo du packaging</th>
                            <td>{{ produit.pdtPckgPhoto }}</td>
                        </tr>
                        <tr>
                            <th>Taux de TVA</th>
                            <td>{{ produit.pdtIdtva }} %</td>
                        </tr>

                    </tbody>
                </table>
                <a class="btn btn-success" href="{{ path('produit_edit', { 'id': produit.id }) }}">
                    <i class="glyphicon glyphicon-edit"></i>Modifier</a>

            </div>
        </div>
    </div>
{% endblock %}
