{% extends 'baseadmin.html.twig' %}

{% block body %}
    <div id="header" class="jumbotron text-center">
        <h1>Liste des abonnés aux newsletters</h1>
        <a class="btn btn-success btn-lg" href="{{ path('abontnews_new') }}">
            <i class="glyphicon glyphicon-plus"></i>
            Créer une nouvelle entrée
        </a>
    </div>
    <div class="container">
        <div class="row">
            {% if app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('fail') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="col-md-offset-2 col-md-8">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        {#<th>Id</th>#}
                        <th>Actif/inactif</th>
                        <th>Adresse email</th>
                        <th>Création</th>
                        <th>Désactivation</th>
                        <th> </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for abontnews in abontnews %}
                        <tr>
                            {#<td><a href="{{ path('abontnews_show', { 'id': abontnews.id }) }}">{{ abontnews.id }}</a></td>#}
                            <td>{% if abontnews.anlEtat %}Actif{% else %}Inactif{% endif %}</td>
                            <td>{{ abontnews.anlEmail }}</td>
                            <td>{% if abontnews.anlDteActif %}{{ abontnews.anlDteActif|date('d-m-Y') }}{% endif %}</td>
                            <td>{% if abontnews.anlDteDesact and not abontnews.anlEtat %}
                                    {{ abontnews.anlDteDesact|date('d-m-Y') }}
                                    {% else %} &nbsp;
                                {% endif %}</td>
                            <td>
                                <ul class="nopuce">
                                    <li>
                                        <a class="btn btn-primary" id="place-btn" href="{{ path('abontnews_show', { 'id': abontnews.id }) }}">
                                            <i class="glyphicon glyphicon-eye-open"></i>Voir</a>
                                        <a class="btn btn-primary" id="place-btn" href="{{ path('abontnews_edit', { 'id': abontnews.id }) }}">
                                            <i class="glyphicon glyphicon-edit"></i>Modifier</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}
