{% extends 'base.html.twig' %}

{% block body %}
    <h1>Abontnews</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ abontnews.id }}</td>
            </tr>
            <tr>
                <th>Anletat</th>
                <td>{% if abontnews.anlEtat %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Anlemail</th>
                <td>{{ abontnews.anlEmail }}</td>
            </tr>
            <tr>
                <th>Anldteactif</th>
                <td>{% if abontnews.anlDteActif %}{{ abontnews.anlDteActif|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Anldtedesact</th>
                <td>{% if abontnews.anlDteDesact %}{{ abontnews.anlDteDesact|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('abontnews_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('abontnews_edit', { 'id': abontnews.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
