{% extends 'baseadmin.html.twig' %}

{% block body %}
    </div>
    <div id="header" class="jumbotron text-center">
        <h1>Libellés associés ( {{ prodlib.langue.lngLib }} <img class="" height="30" src="{{ asset('uploads/drapeaux/') }}{{ prodlib.langue.lngFlag }}"/> )
            <br/>{{ prodlib.pdlIdpdt }}
            <br/>{{ prodlib.pdlCat }} / {{ prodlib.pdlType }} / {{ prodlib.pdlItem }}
        </h1>
        {#
                <a class="btn btn-success btn-lg" href="{{ path('prodlib_index') }}">
                    <i class="glyphicon glyphicon-chevron-left"></i><i class="glyphicon glyphicon-chevron-left"></i>
                    Retour à la liste
                </a>
        #}
    </div>

    {{ form_start(edit_form) }}

    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-8">
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-right lib_champs">Description</p>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {{ form_widget(edit_form.pdlDesc, { 'attr': {'class': 'form-control Taux', 'placeholder': 'Titre information' }}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p class="text-right lib_champs">info lib 1</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {{ form_widget(edit_form.pdlInfoLib1, { 'attr': {'class': 'form-control Taux', 'placeholder': 'Titre information' }}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p class="text-right lib_champs">info val 1</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {{ form_widget(edit_form.pdlInfoVal1, { 'attr': {'class': 'form-control Taux', 'placeholder': 'Information complementaire' }}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-right lib_champs">info lib 2</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {{ form_widget(edit_form.pdlInfoLib2, { 'attr': {'class': 'form-control Taux', 'placeholder': 'Titre information' }}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-right lib_champs">info val 2</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {{ form_widget(edit_form.pdlInfoVal2, { 'attr': {'class': 'form-control Taux', 'placeholder': 'Information complementaire' }}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p class="text-right lib_champs">info lib 3</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {{ form_widget(edit_form.pdlInfoLib3, { 'attr': {'class': 'form-control Taux', 'placeholder': 'Titre information' }}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p class="text-right lib_champs">info val 3</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {{ form_widget(edit_form.pdlInfoVal3, { 'attr': {'class': 'form-control Taux', 'placeholder': 'Information complementaire' }}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-right lib_champs">info lib 4</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {{ form_widget(edit_form.pdlInfoLib4, { 'attr': {'class': 'form-control Taux', 'placeholder': 'Titre information' }}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-right lib_champs">info val 4</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {{ form_widget(edit_form.pdlInfoVal4, { 'attr': {'class': 'form-control Taux', 'placeholder': 'Information complementaire' }}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p class="text-right lib_champs">info lib 5</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {{ form_widget(edit_form.pdlInfoLib5, { 'attr': {'class': 'form-control Taux', 'placeholder': 'Titre information' }}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p class="text-right lib_champs">info val 5</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {{ form_widget(edit_form.pdlInfoVal5, { 'attr': {'class': 'form-control Taux', 'placeholder': 'Information complementaire' }}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-right lib_champs">info lib 6</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {{ form_widget(edit_form.pdlInfoLib6, { 'attr': {'class': 'form-control Taux', 'placeholder': 'Titre information' }}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-right lib_champs">info val 6</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {{ form_widget(edit_form.pdlInfoVal6, { 'attr': {'class': 'form-control Taux', 'placeholder': 'Information complementaire' }}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p class="text-right lib_champs">info lib 7</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {{ form_widget(edit_form.pdlInfoLib7, { 'attr': {'class': 'form-control Taux', 'placeholder': 'Titre information' }}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p class="text-right lib_champs">info val 7</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {{ form_widget(edit_form.pdlInfoVal7, { 'attr': {'class': 'form-control Taux', 'placeholder': 'Information complementaire' }}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-right lib_champs">info lib 8</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {{ form_widget(edit_form.pdlInfoLib8, { 'attr': {'class': 'form-control Taux', 'placeholder': 'Titre information' }}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-right lib_champs">info val 8</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {{ form_widget(edit_form.pdlInfoVal8, { 'attr': {'class': 'form-control Taux', 'placeholder': 'Information complementaire' }}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p class="text-right lib_champs">info lib 9</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {{ form_widget(edit_form.pdlInfoLib9, { 'attr': {'class': 'form-control Taux', 'placeholder': 'Titre information' }}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p class="text-right lib_champs">info val 9</p>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {{ form_widget(edit_form.pdlInfoVal9, { 'attr': {'class': 'form-control Taux', 'placeholder': 'Information complementaire' }}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-right lib_champs">Commentaires packaging</p>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {{ form_widget(edit_form.pdlPckgComm, { 'attr': {'class': 'form-control Taux', 'placeholder': 'Commentaire du packaging' }}) }}
                        </div>
                    </div>
                </div>
{#
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-right lib_champs">Dispo</p>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {{ form_widget(edit_form.pdlDispo, { 'attr': {'class': 'form-control Taux', 'placeholder': '' }}) }}
                        </div>
                    </div>
                </div>
#}
{#
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-right lib_champs">FabDelai</p>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {{ form_widget(edit_form.pdlFabDelai, { 'attr': {'class': 'form-control Taux', 'placeholder': 'Délai de fabrication' }}) }}
                        </div>
                    </div>
                </div>
#}
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-right lib_champs">Délai de livraison</p>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {{ form_widget(edit_form.pdlLivDelai, { 'attr': {'class': 'form-control Taux', 'placeholder': 'Delai de livraison' }}) }}
                        </div>
                    </div>
                </div>

                <input class="btn btn-success" type="submit" value="Enregistrer" />

                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
    {#<h1>Prodlib edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('prodlib_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>#}
{% endblock %}
