{% extends 'base.html.twig' %}

{% block body %}
    <h1>Prodlib</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prodlib.id }}</td>
            </tr>
            <tr>
                <th>Pdllocale</th>
                <td>{{ prodlib.pdlLocale }}</td>
            </tr>
            <tr>
                <th>Pdllib</th>
                <td>{{ prodlib.pdlLib }}</td>
            </tr>
            <tr>
                <th>Pdldesc</th>
                <td>{{ prodlib.pdlDesc }}</td>
            </tr>
            <tr>
                <th>Pdlcat</th>
                <td>{{ prodlib.pdlCat }}</td>
            </tr>
            <tr>
                <th>Pdltype</th>
                <td>{{ prodlib.pdlType }}</td>
            </tr>
            <tr>
                <th>Pdlitem</th>
                <td>{{ prodlib.pdlItem }}</td>
            </tr>
            <tr>
                <th>Pdlinfolib1</th>
                <td>{{ prodlib.pdlInfoLib1 }}</td>
            </tr>
            <tr>
                <th>Pdlinfolib2</th>
                <td>{{ prodlib.pdlInfoLib2 }}</td>
            </tr>
            <tr>
                <th>Pdlinfolib3</th>
                <td>{{ prodlib.pdlInfoLib3 }}</td>
            </tr>
            <tr>
                <th>Pdlinfolib4</th>
                <td>{{ prodlib.pdlInfoLib4 }}</td>
            </tr>
            <tr>
                <th>Pdlinfolib5</th>
                <td>{{ prodlib.pdlInfoLib5 }}</td>
            </tr>
            <tr>
                <th>Pdlinfolib6</th>
                <td>{{ prodlib.pdlInfoLib6 }}</td>
            </tr>
            <tr>
                <th>Pdlinfolib7</th>
                <td>{{ prodlib.pdlInfoLib7 }}</td>
            </tr>
            <tr>
                <th>Pdlinfolib8</th>
                <td>{{ prodlib.pdlInfoLib8 }}</td>
            </tr>
            <tr>
                <th>Pdlinfolib9</th>
                <td>{{ prodlib.pdlInfoLib9 }}</td>
            </tr>
            <tr>
                <th>Pdlpckgcomm</th>
                <td>{{ prodlib.pdlPckgComm }}</td>
            </tr>
            <tr>
                <th>Pdldispo</th>
                <td>{{ prodlib.pdlDispo }}</td>
            </tr>
            <tr>
                <th>Pdlfabdelai</th>
                <td>{{ prodlib.pdlFabDelai }}</td>
            </tr>
            <tr>
                <th>Pdllivdelai</th>
                <td>{{ prodlib.pdlLivDelai }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('prodlib_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('prodlib_edit', { 'id': prodlib.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
