{% extends 'baseadmin.html.twig' %}

{% block body %}

    <div id="header" class="jumbotron text-center">
        <h1>Liste des commandes</h1>
{#
        <a class="btn btn-success btn-lg" href="{{ path('commande_new') }}">
            <i class="glyphicon glyphicon-plus"></i>
            Créer une nouvelle entrée
        </a>
#}
    </div>

    {% for flashMessage in app.session.flashbag.get('mesModifs') %}
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ flashMessage }}
        </div>
    {% endfor %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <table class="table table-hover">
                <thead>
                    <tr>
                        {#<th>Id</th>#}
                        <th>Commande</th>
                        <th>Etat</th>
                        <th>Code bank</th>
                        <th>Date de vente</th>
                        <th>Date d'expédition</th>
                        <th>Comm. : Dern. maj date</th>
                        {#<th>Comm. : Dern. maj par</th>#}
                        {#<th>Comm. : Dern. maj libellé</th>#}
                        <th>Annul. Comm. : Date</th>
                        {#<th>Annul. Comm. : Par</th>#}
                        {#<th>Annul. Comm. : Libellé</th>#}
                        <th>Nro Facture</th>
                        {#<th>Facture : Date</th>#}
                        {#<th>Facture : Par</th>#}
                        <th>Nbre d'article(s)</th>
                        {#<th>Tva unique</th>#}
                        {#<th>Prix total HT</th>#}
                        <th>Prix total TTC</th>
                        {#<th>Poids total</th>#}
                        {#<th>Dim. totales</th>#}
                        {#<th>Délai de livraison</th>#}
                        {#<th>Commentaires</th>#}
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for commande in commandes %}
                        <tr>
                            {#<td><a href="{{ path('commande_show', { 'id': commande.id }) }}">{{ commande.id }}</a></td>#}
                            <td>{{ commande.comCode }}</td>
                            <td>{{ commande.etatCom }}</td>
                            <td>{{ commande.comCdebank }}</td>
                            <td>{% if commande.comVenteDte %}{{ commande.comVenteDte|date('d-m-Y H:i:s') }}{% endif %}</td>
                            <td>{% if commande.comExpedDte %}{{ commande.comExpedDte|date('d-m-Y') }}{% endif %}</td>
                            <td>{% if commande.comMajDte %}{{ commande.comMajDte|date('d-m-Y') }}{% endif %}</td>
                            {#<td>{{ commande.comMajWho }}</td>#}
                            {#<td>{{ commande.comMajLib }}</td>#}
                            <td>{% if commande.comAnnulDte %}{{ commande.comAnnulDte|date('d-m-Y') }}{% endif %}</td>
                            {#<td>{{ commande.comAnnulWho }}</td>#}
                            {#<td>{{ commande.comAnnulLib }}</td>#}
                            <td>{{ commande.comFact }}</td>
                            {#<td>{% if commande.comFactDte %}{{ commande.comFactDte|date('d-m-Y') }}{% endif %}</td>#}
                            {#<td>{{ commande.comFactWho }}</td>#}
                            <td>{{ commande.comNbArts }}</td>
                            {#<td>{% if commande.comTvaUnique %}Oui{% else %}Non{% endif %}</td>#}
                            {#<td>{{ commande.comPrixTotHt|number_format(2, ',', ' ') }} €</td>#}
                            <td>{{ commande.comPrixTotTtc|number_format(2, ',', ' ') }} €</td>
                            {#<td>{{ commande.comEmbPoids }}</td>#}
                            {#<td>{{ commande.comEmbDim }}</td>#}
                            {#<td>{{ commande.comLivDelai }}</td>#}
                            {#<td>{{ commande.comComments }}</td>#}
                            <td>
                                <ul class="nopuce">
                                    <li>
                                        <a class="btn btn-primary" id="place-btn" href="{{ path('commande_show', { 'id': commande.id }) }}">
                                            <i class="glyphicon glyphicon-eye-open"></i>Voir</a>
                                        <a class="btn btn-primary" id="place-btn" href="{{ path('commande_edit', { 'id': commande.id }) }}">
                                            <i class="glyphicon glyphicon-edit"></i>Modifier</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{#
    <ul>
        <li>
            <a href="{{ path('commande_new') }}">Create a new entry</a>
        </li>
    </ul>
#}

{% endblock %}
