{% extends 'baseadmin.html.twig' %}

{% block body %}

    <div id="header" class="jumbotron text-center">
        <h1>Commande : {{ commande.comCode }}</h1>
        <a class="btn btn-success btn-lg" href="{{ path('commande_index') }}">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-offset-1 col-md-offset-1 col-lg-9 col-md-9">
                    <a class="btn btn-success" href="{{ path('commande_edit', { 'id': commande.id }) }}">
                        <i class="glyphicon glyphicon-edit"></i>Modifier</a></h3>
                <table class="table table-hover">
                    <tbody>
                        {#<tr>#}
                            {#<th>Id</th>#}
                            {#<td>{{ commande.id }}</td>#}
                        {#</tr>#}
                        {#<tr>#}
                            {#<th>Code commande</th>#}
                            {#<td>{{ commande.comCode }}</td>#}
                        {#</tr>#}
                        <tr>
                            <th>Etat</th>
                            <td>{{ commande.etatCom }}</td>
                        </tr>
                        <tr>
                            <th>Code bank</th>
                            <td>{{ commande.comCdebank }}</td>
                        </tr>
                        <tr>
                            <th>Date de la vente</th>
                            <td>{% if commande.comVenteDte %}{{ commande.comVenteDte|date('d-m-Y H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Date d'expédition</th>
                            <td>{% if commande.comExpedDte %}{{ commande.comExpedDte|date('d-m-Y H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Date de dernière maj</th>
                            <td>{% if commande.comMajDte %}{{ commande.comMajDte|date('d-m-Y H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Auteur dernière maj</th>
                            <td>{{ commande.comMajWho }}</td>
                        </tr>
                        <tr>
                            <th>Libellé dernière maj</th>
                            <td>{{ commande.comMajLib }}</td>
                        </tr>
                        <tr>
                            <th>Date d'annulation</th>
                            <td>{% if commande.comAnnulDte %}{{ commande.comAnnulDte|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Auteur annulation</th>
                            <td>{{ commande.comAnnulWho }}</td>
                        </tr>
                        <tr>
                            <th>Libellé annulation</th>
                            <td>{{ commande.comAnnulLib }}</td>
                        </tr>
                        <tr>
                            <th>Nro facture</th>
                            <td>{{ commande.comFact }}</td>
                        </tr>
                        <tr>
                            <th>Date facture</th>
                            <td>{% if commande.comFactDte %}{{ commande.comFactDte|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Auteur facture</th>
                            <td>{{ commande.comFactWho }}</td>
                        </tr>
                        <tr>
                            <th>Nbre d'article(s)</th>
                            <td>{{ commande.comNbArts }} &nbsp;&nbsp;&nbsp;&nbsp;(trouvés: {{ commande.nbProduits }})</td>
                        </tr>
                        <tr>
                            <th>TVA unique (O/N)</th>
                            <td>{% if commande.comTvaUnique %}Oui{% else %}Non{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Prix total HT</th>
                            <td>{{ commande.comPrixTotHt|number_format(2, ',', ' ') }} €</td>
                        </tr>
                        <tr>
                            <th>Prix total TTC</th>
                            <td>{{ commande.comPrixTotTtc|number_format(2, ',', ' ') }} €</td>
                        </tr>
                        <tr>
                            <th>Poids total</th>
                            <td>{{ commande.comEmbPoids }}</td>
                        </tr>
                        <tr>
                            <th>Dimensions totales</th>
                            <td>{{ commande.comEmbDim }}</td>
                        </tr>
                        <tr>
                            <th>Délai de livraison</th>
                            <td>{{ commande.comLivDelai }}</td>
                        </tr>
                        <tr>
                            <th>Commentaires</th>
                            <td>{{ commande.comComments }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{#
    <ul>
        <li>
            <a href="{{ path('commande_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('commande_edit', { 'id': commande.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
#}

    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-11">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-11">
                <h2>{{ commande.nbAdresses }} adresse(s) associée(s)</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                {% if commande.adresses %}
                    {% for adresse in commande.adresses %}
                        <h3>Adresse de {{ adresse.adrTypeName }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="btn btn-success" href="{{ path('adresse_edit', { 'id': adresse.id }) }}">
                                <i class="glyphicon glyphicon-edit"></i>Modifier</a></h3>
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>Nom</th>
                                    <td>{{ adresse.adrNom }}</td>
                                </tr>
                                <tr>
                                    <th>Prénom</th>
                                    <td>{{ adresse.adrPrenom }}</td>
                                </tr>
                                <tr>
                                    <th>Société</th>
                                    <td>{{ adresse.adrSoc }}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{ adresse.adrEmail }}</td>
                                </tr>
                                <tr>
                                    <th>Téléphone</th>
                                    <td>{{ adresse.adrTel }}</td>
                                </tr>
                                <tr>
                                    <th>Adresse</th>
                                    <td>{{ adresse.adrAdr }}</td>
                                </tr>
                                <tr>
                                    <th>Code postal</th>
                                    <td>{{ adresse.adrCp }}</td>
                                </tr>
                                <tr>
                                    <th>Ville</th>
                                    <td>{{ adresse.adrVille }}</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="row">
                            <div class="col-md-offset-1 col-md-11">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-1 col-md-11">
                                &nbsp;
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h1>Aucune adresse trouvée</h1>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-11">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-11">
                <h2>{{ commande.nbProduits }} produit(s) commandé(s)</h2>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        {#<th>Id</th>#}
                        <th>Etat<br />(Actif/Inactif)</th>
                        <th>Catégorisation</th>
                        <th>A vendre (O/N)</th>
                        <th>Nom</th>
                        <th>Référence</th>
                        <th>Prix TTC</th>
                        <th>Photo</th>
                        <th> </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for produit in commande.produits %}
                        <tr>
                            {#<td><a href="{{ path('produit_show', { 'id': produit.id }) }}">{{ produit.id }}</a></td>#}
                            <td>{% if produit.cxpIdpdt.pdtEtat %}Actif{% else %}Inactif{% endif %}</td>
                            <td>{{ produit.cxpIdpdt.pdtIdcat }}</td>
                            <td>{% if produit.cxpIdpdt.pdtAvendre %}<a class="alerte_vendu">Oui</a>{% else %}Non{% endif %}</td>
                            <td>{{ produit.cxpIdpdt.pdtNom }}</td>
                            <td>{{ produit.cxpIdpdt.pdtRef }}</td>
                            <td>{{ produit.cxpIdpdt.pdtPrixUnitTtc|number_format(2, ',', ' ') }} €</td>
                            {#<td>{{ produit.pdtPhoto }}</td>#}
                            <td><img class="image_produit" src="{{ asset('uploads/produits/')}}{{ produit.cxpIdpdt.pdtPhoto }}"></td>
                            <td>
                                <ul class="nopuce">
                                    <li>
                                        <a class="btn btn-primary" id="place-btn" href="{{ path('produit_show', { 'id': produit.cxpIdpdt.id }) }}">
                                            <i class="glyphicon glyphicon-eye-open"></i>Voir</a>
                                        <a class="btn btn-primary" id="place-btn" href="{{ path('produit_edit', { 'id': produit.cxpIdpdt.id }) }}">
                                            <i class="glyphicon glyphicon-edit"></i>Modifier</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock %}
