<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Facture</title>

        {% block stylsheet %}
            <link rel="stylesheet" href="{{ absolute_url(asset('bundles/app/css/bootstrap.css')) }}">
            <link rel="stylesheet" href="{{ absolute_url(asset('bundles/app/css/style_facture.css')) }}">
        {% endblock %}

    </head>
    <body>
        <div class="container">
            <div class="row text-center">
                <h1>Facture</h1>
                <h3>N° {{ commande.comFact }}</h3>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <p>logo</p>
                </div>
                <div class="col-xs-4">
                    <div class="row adresse">
                        <p>Nom</p>
                        <p>Adresse</p>
                        <p>Code postal / ville</p>
                        <p>Telephone</p>
                    </div>
                </div>
                <div class="col-xs-6">
                    {% for adresse in adresses %}
                        <div class="row adresse">
                            {% if adresses|length == 1 %}
                                <h4>Adresse de facturation / livraison</h4>
                            {% else %}
                                <h4>Adresse de {{ adresse.adrTypeName }}</h4>
                            {% endif %}
                            <p>{{ adresse.adrNom }} {{ adresse.adrPrenom }}</p>
                            <p>{{ adresse.adrAdr }}</p>
                            <p>{{ adresse.adrCp }} {{ adresse.adrVille }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row text-center">
                <h3>Récapitulatif commande n° {{ commande.comCode }}</h3>
                <h4>Commande effectué le {{ commande.comVenteDte | date("d/m/Y") }}</h4>
            </div>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Référence</th>
                            <th>Quantité</th>
                            <th>Libellé</th>
                            <th>Prix HT</th>
                            <th>TVA</th>
                            <th>Prix TTC</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for produit in produits %}
                            <tr>
                                <td>{{ produit.cxpIdpdt.pdtRef }}</td>
                                <td>{{ produit.cxpNbpdt }}</td>
                                <td>{{ produit.cxpIdpdt.pdtNom }}</td>
                                <td>{{ produit.cxpIdpdt.pdtPrixUnitHt }} €</td>
                                <td>{{ produit.cxpIdpdt.pdtIdtva.tvaTaux }} %</td>
                                <td>{{ produit.cxpIdpdt.pdtPrixUnitTtc }} €</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-xs-6 col-xs-offset-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre de produits total</th>
                                <th>Total HT</th>
                                <th>Total TTC</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ commande.comNbArts }}</td>
                                <td>{{ commande.comPrixTotHt }} €</td>
                                <td>{{ commande.comPrixTotTtc }} €</td>
                            </tr>
                            <tr>
                                <td class="remove_border"></td>
                            </tr>
                            <tr>
                                <td class="remove_border"></td>
                            </tr>
                            <tr>
                                <td class="remove_border"></td>
                            </tr>
                            <tr>
                                <td class="remove_border"></td>
                                <th>Frais de livraison</th>
                                <td>100 €</td>
                            </tr>
                            <tr>
                                <td class="remove_border"></td>
                                <th>Total facture</th>
                                <td>{{ commande.comPrixTotTtc }} + 100 €</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        {% block js %}
            <script rel="script" src="{{ absolute_url(asset('bundles/app/js/bootstrap.js')) }}"></script>
        {% endblock %}
    </body>
</html>
