{% extends 'baseadmin.html.twig' %}

{% block body %}

    <div id="header" class="jumbotron text-center">
        <h1>{{ tva.tvaLib }}</h1>
        <a class="btn btn-success btn-lg" href="{{ path('tva_index') }}">
            <i class="glyphicon glyphicon-chevron-left"></i><i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
    </div>

    {{ form_start(edit_form) }}

    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-8">
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-right lib_champs">Etat (actif/inactif)</p>
                    </div>
                    <div class="col-md-9">
                        {{ form_widget(edit_form.tvaEtat) }}
                        {#<div class="input-group">#}
                            {#<span class="input-group-addon"><i class="glyphicon glyphicon-ok-sign"></i></span>#}
                            {#{{ form_widget(edit_form.tvaEtat, { 'attr': {'class': 'form-control Actif', 'placeholder': 'Etat' }}) }}#}
                        {#</div>#}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-right lib_champs">Libellé correspondant</p>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {{ form_widget(edit_form.tvaLib, { 'attr': {'class': 'form-control Libelle', 'placeholder': 'Libellé de ce code TVA' }}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-right lib_champs">Taux de TVA (%)</p>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {{ form_widget(edit_form.tvaTaux, { 'attr': {'class': 'form-control Taux', 'placeholder': 'Taux de TVA' }}) }}
                        </div>
                    </div>
                </div>




                <input class="btn btn-success" type="submit" value="Enregistrer" />

                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>







    {#{{ form_start(edit_form) }}#}
        {#{{ form_widget(edit_form) }}#}
        {#<input type="submit" value="Enregistrer" />#}
    {#{{ form_end(edit_form) }}#}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('tva_index') }}">Back to the list</a>#}
        {#</li>#}
        {#<li>#}
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
