{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tva</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tva.id }}</td>
            </tr>
            <tr>
                <th>Tvaetat</th>
                <td>{% if tva.tvaEtat %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Tvalib</th>
                <td>{{ tva.tvaLib }}</td>
            </tr>
            <tr>
                <th>Tvataux</th>
                <td>{{ tva.tvaTaux }}</td>
            </tr>
            <tr>
                <th>Tvadtedesact</th>
                <td>{% if tva.tvaDteDesact %}{{ tva.tvaDteDesact|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tva_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tva_edit', { 'id': tva.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
