{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <div class="container-fluid"><!-- Top Bar noir -->
            <div class="row">
                <div class="col-md-6 rowblack text-center textwhite"><h1>Bienvenue dans l'univers BIJOUX</h1></div>
            </div>
        </div><!-- Fin top bar noir -->
    </header>
    <div class="space"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                {{ dump(paniers) }}
                {% for produit in produits %}
                    {% if produit.pdtEtat %}
                        <div class="col-md-3">
                            <a href="{{ path('ecommerce_detail_produit', { 'id': produit.id }) }}">
                            <img class="center-block img-responsive imgbijou" src={{ asset('uploads/produits/') }}{{ produit.pdtPhoto }}></a>
                            <div class="col-md-12">
                                <a href="{{ path('ecommerce_detail_produit', { 'id': produit.id }) }}">
                                <p><span class="text-left">{{ produit.pdtNom }}</span></a><span class="text-right">{{ produit.pdtPrixUnitTtc|number_format(2, ',', ' ') }}</span></p>
                                <ul class="nopuce">
                                    <li>
                                        <i class="glyphicon glyphicon-adjust"></i>
                                        <a href="{{ path('ecommerce_add_panier', { 'id': produit.id }) }}">acheter</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}