{% extends 'base.html.twig' %}

{% block body %}

    <div id="header" class="jumbotron text-center">
        <h1>Abonnement newsletters  -  Suppression</h1>
    </div>

    {% for flashMessage in app.session.flashbag.get('mesModifs') %}
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ flashMessage }}
        </div>
    {% endfor %}

    {{ form_start(form) }}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <h1>Veuillez taper votre adresse mail</h1>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-5">
                        <p class="text-right lib_champs">Nom</p>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-7">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            {{ form_errors(form.Email) }}
                            {{ form_widget(form.Email, { 'attr': {'class': 'form-control Libelle', 'placeholder': 'Votre email' }}) }}
                        </div>
                    </div>
                </div>
{#
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-5">
                        <p class="text-right lib_champs">Adresse de livraison diferente</p>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-7">
                        <div class="input-group">
                            <span id="show_adrlivraison"><a class="btn btn-success" action="" title="click !">Oui/non</a></span>
                        </div>
                    </div>
                </div>
#}
            </div>
        </div>
        <input class="btn btn-success text-center" type="submit" value="Confirmez" />
    </div>

    {{ form_end(form) }}

{% endblock %}

{#

{% block javascripts %}

    {{ parent() }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- permet de changer tout les champs en required false a true.... -->
    <script>
        function form(property){
            $("#adresse_client_adressemodele_1_adrNom").prop('required',property);
            $("#adresse_client_adressemodele_1_adrPrenom").prop('required',property);
            $("#adresse_client_adressemodele_1_adrAdr").prop('required',property);
            $("#adresse_client_adressemodele_1_adrTel").prop('required',property);
            $("#adresse_client_adressemodele_1_adrCp").prop('required',property);
            $("#adresse_client_adressemodele_1_adrVille").prop('required',property);
            $("#adresse_client_adressemodele_1_adrIdcom").prop('required',property);
        }
        form(false);
        $("#adresse_client_adressemodele_0_adrEmail").prop('required',true);
        $("#adresse_client_adressemodele_1_adrEmail").prop('required',false);
        $(document).ready(function(){

            $("#show_adrlivraison").click(function(){

                var display = $('#hide_adrlivraison').css('display');

                if (display == 'none'){
                    $("#hide_adrlivraison").toggle();
                    form(true);
                }
                else {
                    $("#hide_adrlivraison").toggle();
                    form(false);
                }
            });
        });
    </script>
{% endblock %}
#}
