{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <div class="container-fluid"><!-- Top Bar noir -->
            <div class="row">
                <div class="col-md-3 rowblack text-center textwhite"><h1>Panier</h1></div>
            </div>
            <div class="row">
                <img style="width: 100%; height: 100px; margin-bottom: 75px;" src="{{ asset('bundles/app/img/homepage/middlehp.png') }}">
            </div>
        </div><!-- Fin top bar noir -->
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <table class="table table-hover">
                    <tr>
                        <th class="text-center">Aperçu</th>
                        <th class="text-center">Nom - Référence</th>
                        <th class="text-center">Prix TTC</th>
                    </tr>
                    {{ dump(app.session.getmetadataBag()) }}
                    {{ dump(app.session) }}
                    {{ dump(app.session.get('cartArray')) }}

                    {% for panier in paniers %}
                    <tr>
                        <td class="text-center"><img class="imgpanier" src="{{ asset('uploads/produits/') }}{{ panier.photo }}"></td>
                        <td class="text-center">{{ panier.nom }} <br /><br /> {{ panier.ref }}</td>
                        <td class="text-center">{{ panier.prixttc|number_format(2, ',', ' ') }} €</td>
                        <td><a class="btn btn-danger text-center supppanier" href="{{ path('ecommerce_remove_panier', { 'id': panier.id }) }}">Supprimer</a></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td><p class="prixtotal">Prix total TTC :</p></td>
                        <td><p class="text-center">{% if app.session.get('cartInfos') %}{{ app.session.get('cartInfos')[0] }}{% else %} 0 {% endif %} €</p></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12 text-center">
                {% if paniers %}
                    <a class="btn btn-success" href="{{ path('ecommerce_adresse_new') }}">Confirmer votre panier</a>
                {% else %}
                {% endif %}
            </div>
        </div>
        <div class="col-md-offset-2 col-md-8">
            <p>Hello world this is a comment !</p>
        </div>
    </div>
{% endblock %}

