{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <div class="container-fluid"><!-- Top Bar noir -->
            <div class="row">
                <div class="col-md-6 rowblack text-center textwhite"><h1>Bienvenue dans l'univers ART</h1></div>
                <div class="col-md-6 text-center"><h1>Trier Prix/Taille</h1></div>
            </div>
        </div><!-- Fin top bar noir -->
    </header>
    <div class="space"></div>
    <div class="container">
        <div class="row">
            {% for produit in produits %}
                {% if produit.pdtEtat == true %}
                    <!-- ajouter dans la condition ou.... -->
                    {% if produit.pdtIdcat != 'Bijoux' and produit.pdtIdcat != null and (produit.pdtIdcat == 'Portrait' or produit.pdtIdcat == 'Marine') %}
                        <div class="col-md-4">
                            <a href="{{ path('ecommerce_detail_produit', { 'id': produit.id }) }}">
                                <img class="center-block img-responsive imgtableau" src={{ asset('uploads/produits/') }}{{ produit.pdtPhoto }} />
                            </a>
                            <div class="col-md-12 text-center">
                                <p><a href="{{ path('ecommerce_detail_produit', { 'id': produit.id }) }}">
                                    <span class="text-left">{{ produit.pdtNom }}</span></a><br />
                                <span class="text-right">{{ produit.pdtPrixUnitTtc|number_format(2, ',', ' ') }} €</span></p>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="minspace"></div>
    </div>
{% endblock %}
