{% extends 'baseadmin.html.twig' %}

{% block body %}
<div id="header" class="jumbotron text-center">
    <h1>Liste des adresses</h1>
    <a class="btn btn-success btn-lg" href="{{ path('adresse_new') }}">
        <i class="glyphicon glyphicon-plus"></i>
        Créer une nouvelle entrée
    </a>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <table class="table table-hover">
                <thead>
                <tr>
                    {#<th>Id</th>#}
                    <th>Type</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Société</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Adresse</th>
                    {#<th>Adresse comp.</th>#}
                    <th>Code postal</th>
                    <th>Ville</th>
                    <th>Pays</th>
                    {#<th>Désactivation</th>#}
                    <th> </th>
                </tr>
                </thead>
                <tbody>
        {% for adresse in adresses %}
            <tr>
                <td>{{ adresse.adrTypeName }}</td>
                <td>{{ adresse.adrNom }}</td>
                <td>{{ adresse.adrPrenom }}</td>
                <td>{{ adresse.adrSoc }}</td>
                <td>{{ adresse.adrEmail }}</td>
                <td>{{ adresse.adrTel }}</td>
                <td>{{ adresse.adrAdr }}</td>
                {#<td>{{ adresse.adrAdr2 }}</td>#}
                <td>{{ adresse.adrCp }}</td>
                <td>{{ adresse.adrVille }}</td>
                <td>{{ adresse.adrPays }}</td>
                {#<td>#}
                    {#<ul class="nopuce">#}
                        {#<li>#}
                            {#<a class="btn btn-primary" id="place-btn" href="{{ path('adresse_show', { 'id': adresse.id }) }}">#}
                                {#<i class="glyphicon glyphicon-eye-open"></i>Voir</a>#}
                            {#<a class="btn btn-primary" id="place-btn" href="{{ path('adresse_edit', { 'id': adresse.id }) }}">#}
                                {#<i class="glyphicon glyphicon-edit"></i>Modifier</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
            
{% endblock %}
