{% extends 'base.html.twig' %}

{% block body %}
    <h1>Adresse</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adresse.id }}</td>
            </tr>
            <tr>
                <th>Adrtype</th>
                <td>{{ adresse.adrType }}</td>
            </tr>
            <tr>
                <th>Adrnom</th>
                <td>{{ adresse.adrNom }}</td>
            </tr>
            <tr>
                <th>Adrprenom</th>
                <td>{{ adresse.adrPrenom }}</td>
            </tr>
            <tr>
                <th>Adrsoc</th>
                <td>{{ adresse.adrSoc }}</td>
            </tr>
            <tr>
                <th>Adremail</th>
                <td>{{ adresse.adrEmail }}</td>
            </tr>
            <tr>
                <th>Adradr</th>
                <td>{{ adresse.adrAdr }}</td>
            </tr>
            <tr>
                <th>Adradr2</th>
                <td>{{ adresse.adrAdr2 }}</td>
            </tr>
            <tr>
                <th>Adrcp</th>
                <td>{{ adresse.adrCp }}</td>
            </tr>
            <tr>
                <th>Adrville</th>
                <td>{{ adresse.adrVille }}</td>
            </tr>
            <tr>
                <th>Adrpays</th>
                <td>{{ adresse.adrPays }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('adresse_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('adresse_edit', { 'id': adresse.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
