{% extends 'baseadmin.html.twig' %}

{% block body %}
    <h1>Paramlib list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Prllocale</th>
                <th>Prldelailiv</th>
                <th>Prllivrestrict</th>
                <th>Prlfabdelai</th>
                <th>Prlartphoto</th>
                <th>Prlartpres</th>
                <th>Prlartcomm</th>
                <th>Prlpantitre</th>
                <th>Prlpanphoto</th>
                <th>Prlpanpres</th>
                <th>Prlpancomm</th>
                <th>Prlpantabent</th>
                <th>Prlpantabcol1</th>
                <th>Prlpantabcol2</th>
                <th>Prlpantabcol3</th>
                <th>Prlpantabsupp</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paramlib in paramlibs %}
            <tr>
                <td><a href="{{ path('paramlib_show', { 'id': paramlib.id }) }}">{{ paramlib.id }}</a></td>
                <td>{{ paramlib.prlLocale }}</td>
                <td>{{ paramlib.prlDelaiLiv }}</td>
                <td>{{ paramlib.prlLivRestrict }}</td>
                <td>{{ paramlib.prlFabDelai }}</td>
                <td>{{ paramlib.prlArtPhoto }}</td>
                <td>{{ paramlib.prlArtPres }}</td>
                <td>{{ paramlib.prlArtComm }}</td>
                <td>{{ paramlib.prlPanTitre }}</td>
                <td>{{ paramlib.prlPanPhoto }}</td>
                <td>{{ paramlib.prlPanPres }}</td>
                <td>{{ paramlib.prlPanComm }}</td>
                <td>{{ paramlib.prlPanTabEnt }}</td>
                <td>{{ paramlib.prlPanTabCol1 }}</td>
                <td>{{ paramlib.prlPanTabCol2 }}</td>
                <td>{{ paramlib.prlPanTabCol3 }}</td>
                <td>{{ paramlib.prlPanTabSupp }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('paramlib_show', { 'id': paramlib.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('paramlib_edit', { 'id': paramlib.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('paramlib_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
