{% extends 'baseadmin.html.twig' %}

{% block body %}
    <h1>Paramlib</h1>

    <table>
        <tbody>
{#
            <tr>
                <th>Id</th>
                <td>{{ paramlib.id }}</td>
            </tr>
#}
            <tr>
                <th>Locale</th>
                <td>{{ paramlib.prlLocale }}</td>
            </tr>
            <tr>
                <th>Délai de livraison</th>
                <td>{{ paramlib.prlDelaiLiv }}</td>
            </tr>
            <tr>
                <th>Restrictions de livraison</th>
                <td>{{ paramlib.prlLivRestrict }}</td>
            </tr>
{#
            <tr>
                <th>Délai de fabrication</th>
                <td>{{ paramlib.prlFabDelai }}</td>
            </tr>
#}
            <tr>
                <th>Page produits - Photo</th>
                <td>
                    <img class="image_param" src="{{ asset('uploads/param/') }}{{ paramlib.LibParam.prlArtPhoto }}">
                </td>
            </tr>
            <tr>
                <th>Page produits - Présentation</th>
                <td>{{ paramlib.prlArtPres }}</td>
            </tr>
            <tr>
                <th>Page produits - Commentaire final</th>
                <td>{{ paramlib.prlArtComm }}</td>
            </tr>
            <tr>
                <th>Panier – Titre panier</th>
                <td>{{ paramlib.prlPanTitre }}</td>
            </tr>
            <tr>
                <th>Panier - Photo</th>
                <td>
                    <img class="image_param" src="{{ asset('uploads/param/') }}{{ paramlib.prlPanPhoto }}">
                </td>
            </tr>
            <tr>
                <th>Panier – Présentation</th>
                <td>{{ paramlib.prlPanPres }}</td>
            </tr>
            <tr>
                <th>Panier – Commentaire final</th>
                <td>{{ paramlib.prlPanComm }}</td>
            </tr>
            <tr>
                <th>Panier – Entête tableau</th>
                <td>{{ paramlib.prlPanTabEnt }}</td>
            </tr>
            <tr>
                <th>Panier – Entête colonne 1</th>
                <td>{{ paramlib.prlPanTabCol1 }}</td>
            </tr>
            <tr>
                <th>Panier – Entête colonne 2</th>
                <td>{{ paramlib.prlPanTabCol2 }}</td>
            </tr>
            <tr>
                <th>Panier – Entête colonne 3</th>
                <td>{{ paramlib.prlPanTabCol3 }}</td>
            </tr>
            <tr>
                <th>Panier – Entête col. suppression</th>
                <td>{{ paramlib.prlPanTabSupp }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('paramlib_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('paramlib_edit', { 'id': paramlib.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
