{% extends 'base.html.twig' %}

{% block body %}

    <header xmlns:background-image="http://www.w3.org/1999/xhtml">
        <div class="container-fluid"><!-- Top Bar noir -->
            <div class="row rowblack">
                <div class="row text-center textwhite"><h1>Lucie DE SAINT</h1></div>
                <div class="row text-center textwhite"><h2>Artiste Plasticienne, Créatrice de Bijoux</h2></div>
            </div>
        </div><!-- Fin top bar noir -->
    </header>

{#
    <div class="container imgnav"><!-- Image navigation -->
        <div class="row">
            <div class="col-md-offset-1 col-md-4 col-sm-12 col-xs-12 divimgleft">
                <a href={{ path('ecommerce_tableau') }}>
                    #}
{#<div class="img-responsive imgleft hvr-grow-shadow background-image:url({{ aleat_art }});">#}{#

                    #}
{#<div class="background-image:url({{ aleat_art }});">#}{#

                    #}
{#<div class="background-image:url({{ asset('uploads/drapeaux/') }}{{ langues.lngFlagActif }});">#}{#

                    <div class="img-responsive imgleft hvr-grow-shadow">
                        <p class="textlefthp center-block">Entrer dans l' univers de l'Art</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 divimgmiddle">
                <a href={{ path('ecommerce_bijou') }}>
                    <div class="img-responsive imgmiddle hvr-grow-shadow">
                        <p class="textmiddlehp center-block">Entrer dans l'univers des Bijoux</p>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-12 col-xs-12 divimgright">
                <a href={{ path('app_lucieactu') }}>
                    <div class="img-responsive imgright hvr-grow-shadow">
                        <p class="textrighthp center-block">Lucie DE SAINT</p>
                    </div>
                </a>
            </div>
        </div>
    </div> <!-- Fin image navigation -->
#}

    <div class="container imgnav"><!-- Image navigation -->
        <div class="row">
            <div class="col-md-offset-1 col-md-4 col-sm-12 col-xs-12 divimgleft">
                <a href={{ path('ecommerce_tableau') }}>
                    {% if alea_art %}
                        <img class="img-responsive imgleft hvr-grow-shadow center-block" src="{{ asset('uploads/aleatoire/') }}{{ alea_art }}">
                    {% else %}
                        <img class="img-responsive imgleft hvr-grow-shadow center-block" src="{{ asset('bundles/app/img/homepage/lefthp.png') }}">
                    {% endif %}
                    <p class="textlefthp center-block">Entrer dans l' univers de l'Art</p>
                </a>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 divimgmiddle">
                <a href={{ path('ecommerce_bijou') }}>
                    {% if alea_kifa %}
                        <img class="img-responsive imgmiddle hvr-grow-shadow center-block" src="{{ asset('uploads/aleatoire/') }}{{ alea_kifa }}">
                    {% else %}
                        <img class="img-responsive imgmiddle hvr-grow-shadow center-block" src="{{ asset('bundles/app/img/homepage/middlehp.png') }}">
                    {% endif %}
                    <p class="textmiddlehp center-block">Entrer dans l'univers des Bijoux</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-12 col-xs-12 divimgright">
                <a href={{ path('app_lucieactu') }}>
                    {% if lucie %}
                        <img class="img-responsive imgright hvr-grow-shadow center-block" src="{{ asset('uploads/aleatoire/') }}{{ lucie }}">
                    {% else %}
                        <img class="img-responsive imgright hvr-grow-shadow center-block" src="{{ asset('bundles/app/img/homepage/righthp.png') }}">
                    {% endif %}
                    <p class="textrighthp center-block">Lucie DE SAINT</p>
                </a>
            </div>
        </div>
    </div> <!-- Fin image navigation -->

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- permet de changer tout les champs en required false a true.... -->
    <script>
        $(document).ready(function(){
            $("div.divimgleft").mouseleave(function(){
                $("p.textlefthp").hide();
            });
            $("div.divimgleft").mouseenter(function(){
                $("p.textlefthp").show();
            });
            $("div.divimgmiddle").mouseleave(function(){
                $("p.textmiddlehp").hide();
            });
            $("div.divimgmiddle").mouseenter(function(){
                $("p.textmiddlehp").show();
            });
            $("div.divimgright").mouseleave(function(){
                $("p.textrighthp").hide();
            });
            $("div.divimgright").mouseenter(function(){
                $("p.textrighthp").show();
            });
        });
    </script>

{% endblock %}