{% extends 'baseadmin.html.twig' %}

{% block body %}

    <div id="header" class="jumbotron text-center">
        <h1>Création des langues</h1>
        <a class="btn btn-success btn-lg" href="{{ path('lang_index') }}">
            <i class="glyphicon glyphicon-chevron-left"></i><i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
    </div>

    {{ form_start(form) }}

    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-8">
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-right lib_champs">Code </p>
                    </div>
                    <div class="col-md-9">
                        {{ form_widget(form.lngCode) }}
                        {#<div class="input-group">#}
                        {#<span class="input-group-addon"><i class="glyphicon glyphicon-ok-sign"></i></span>#}
                        {#{{ form_widget(form.tvaEtat, { 'attr': {'class': 'form-control Actif', 'placeholder': 'Etat' }}) }}#}
                        {#</div>#}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-right lib_champs">Libellé correspondant à la langue</p>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {{ form_widget(form.lngLib, { 'attr': {'class': 'form-control Libelle', 'placeholder': 'Libelle de ce code langue' }}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-right lib_champs">Drapeaux des langues </p>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            {{ form_widget(form.lngFlag, { 'attr': {'class': 'form-control libelle', 'placeholder': 'Drapeaux des langues' }}) }}
                        </div>
                    </div>
                </div>


                <input class="btn btn-success" type="submit" value="Enregistrer" />

                {{ form_end(form) }}
            </div>
        </div>
    </div>


    {#    {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" />
        {{ form_end(form) }}#}

    {#    <ul>
            <li>
                <a href="{{ path('tva_index') }}">Back to the list</a>
            </li>
        </ul>#}
{% endblock %}
